.header__nav {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__nav-lists {
  display: flex;
  align-items: center;
  gap: 45px;
}

.list__item-link {
  color: #211F54;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.006px;
}

.list__item-links {
  padding: 17px 24px;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.006px;
  border-radius: 14px;
  background: #0075FF;
}

.list__item-link:hover {
  color: #0075FF;
}

.list__item-links:hover {
  background: #211F54;
}

.header__nav-img,
.header__nav-burger {
  display: none;
}

.header__nav-burger {
  width: 30px;
  height: 30px;
}

.header__nav-logo {
  display: none;
}

@media only screen and (max-width: 935px) {

  .list__item-links,
  .list__item-link {
    display: none;
  }

  .header__nav-list {
    display: none;
  }

  .header__nav-logo {
    display: block;
  }

  .header__nav-img,
  .header__nav-burger {
    display: block;
  }
}